
@import 'config';

#map {
    width: 100%;
    height: 100vh;
}


.container {
    height: 100%;
    background-image: -webkit-linear-gradient(bottom, #fff1eb 0%, $color-main 100%);
    background-image: -moz-linear-gradient(bottom, #fff1eb 0%, $color-main 100%);
    background-image: -o-linear-gradient(bottom, #fff1eb 0%, $color-main 100%);
    background-image: linear-gradient(to top, #fff1eb 0%, $color-main 100%);


    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    height: 100vh;
}


* {
    box-sizing: border-box
}


fieldset  {
    border: none;
    background: #fff;
    border-radius: 20px;
    padding: 15px;
}

legend {
    position: absolute;
    left: -999px;
}
a {
    text-decoration: none;
    color: #333;
}
button, input {
    outline: none;
}

input[type=text] {
    padding: 0 5px
}