.side_button{
    position: absolute;
    left: 0;
    top: 0px;
    width: 30px;
    height: 60px;
}
@keyframes slide-in{
    from{
        transform: translateX(-$side-menu-size)
    }
    to{
        transform: translateX(0px);
        opacity: 1
    }
}

@keyframes slide-out{
    from{
        transform: translateX(0px)
    }
    to{
        transform: translateX(-$side-menu-size);
        opacity: 0
    }
}

@keyframes bottom-slide-in{
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0px);
        opacity: 1
    }
}

@keyframes bottom-slide-out{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(100px);
    }
}
.bottom-slide-enter{
    opacity: 0
}

.bottom-slide-enter-active{
    animation: bottom-slide-in 0.5s
}

.bottom-slide-leave{
    opacity: 1
}

.bottom-slide-leave-active{
    animation: bottom-slide-out 0.2s
}
.slide-enter{
    opacity: 0
}
.slide-enter-active{
    animation: slide-in 0.5s 
}

.slide-leave{
    opacity: 1
}
.slide-leave-active{
    animation: slide-out 0.5s
}