.pin-register
    &__name
        font-size: 20px
        font-weight: bold
        margin-bottom: 20px
        display: block


    &__button--close
        position: absolute
        top: 0
        right: 0
    &__list
        margin-top: 10px

        label
            width: 100px
            display: inline-block
            margin-right: 10px

    .category-group
            button
                border: 0
                border-radius: 100%
                width: 50px
                height: 50px
                margin: 10px
                outline: none

.food-btn
    background: #ff6b6b

.shopping-btn
    background: #ffa300
    

.stay-btn
    background: #2dccb2
    

.cafe-btn
    background: #bc7fff
    

.etc-btn
    background: #767cfe
    

.select
    position: relative
    top: -10px
    border: 3px solid #333 !important