.map-register
    &__name
        font-size: 20px
        font-weight: bold
        margin-bottom: 20px
        display: block


    &__button__add
        position: absolute
        top: 45px
        right: 30px
        padding: 4px 7px

    &__list
        margin-top: 20px

        &__title
            color: darken($color-main, 20%)
            font-size: 14px
            font-weight: bold
            margin-bottom: 7px
            display: block  

        ul        
            padding: 16px
            font-size: 12px
            border: 1px $color-main solid
            border-radius: 5px

            li 
                padding: 7px
                position: relative

                &.nomap
                    margin: 20px 0 

                &:first-child
                    margin-top: 0

                &:hover
                    background: $color-main-bright

                button
                    background: url(./assets/button_list_close2.png) no-repeat center center
                    position: absolute
                    top: 50% 
                    margin-top: -10px
                    right: 2px
                    background-size: 100%
                    width: 20px
                    height: 20px
                    text-indent: -9999px

        &__map-name
            width: 110px
            display: inline-block
            float: left
            font-size: 13px
            font-weight: bold

        &__select--float
            float: left
            margin-right: 22px


        
    &__add-group
        margin-top: 20px
        dl
            padding: 20px
            border-radius: 5px
            background: #eee
            overflow: hidden

        &__name
            width: 150px
        &__desc
            width: 300px

        &__title
            float: left
            margin-right: 10px
            clear: left
            width: 100px
            line-height: 25px
        dd
            float: left