
.modal
    width: 100%
    height: 100vh
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: rgba(51,51,51, 0.3)
    z-index: 9999
.close_btn
    position: absolute
    top: 0
    right: 0