
.pin-check
    width: 300px
    height: 100px
    position: absolute
    bottom: 20px
    left: 50%
    margin-left: -150px
    background: #fff
    text-align: center
    vertical-align:  middle
    display: flex
    justify-content: center
    align-items: center
    flex-flow: wrap
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &__message
        flex-basis: 100%

    &__button
        width: 50px
        margin: 0 auto
        