    .search-bar {
        width: 365px;
        position: absolute;
        top: 7px;
        left: 40px;
        z-index: 99999
    }
    .search-bar__button--user {
        width: 50px;
        height: 50px;
        float: left;
        cursor: pointer;
    }
    .search-bar__button--search {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .search-bar .input-box {
        height: 50px;
    }
    .search-bar .input-box input[type=text] {
        width: 260px;
        height: 100%;
        padding: 0 3%;
        box-sizing: border-box;
        border: none;
        float: left;
        margin-left: 5px;
    }
    .search-bar ul {
        border-radius: 0 0 3% 3%;
        background: #fff;
    }
    .search-bar ul li {
        border-top: 1px #ddd solid;
    }
    .search-bar ul li a {
        width: 100%;
        height: 30px; 
        line-height: 30px;
        padding: 0 5%;
        box-sizing: border-box;
        display: block;
        font-size: 12px;
    }
