@import 'config';

.sidemenu-wrap {
    position: absolute;
    top: 0;
    width: $side-menu-size;
    height: 100%;
    padding-right: 30px;
    transition: all 0.3s ease-in-out; 
    z-index: 999;
}
.sidemenu {
    background: #fff; 
    width: 100%;     
    height: 100%;
    position:relative;
    box-shadow: 2px 0px 20px 2px #aaa;
}
.sidemenu__button {
    position: absolute;
    right: -30px;
    width: 30px;
    height: 60px;
    cursor: pointer;
}
.pin-info__header {
    position: relative;
    width: 100%;
    height: 100px;
    background: $color-main;
    padding: 20px 40px;
    box-sizing: border-box;
}

.pin-info__bg {
    height: 200px;
    background: url(./assets/sample_cafe.jpg) no-repeat 50% 30%;
    background-size: cover;    
    width: 100%;
}
.post-register {
    position: absolute;
    right: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    top: -40px;
    box-shadow: 1px 5px 11px 2px darken($color-main, 20%);
    border: 0;
    color: $color-main-dark;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    background: #fff;
    letter-spacing: 5px;
}
.pin-info__header--title {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}
.pin-info__header--category {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    background: $color-main-bright;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 3px;
    font-weight: bold;
}
.pin-info__header--nick {
    color: #fff;
    font-size: 14px; 
    display: inline-block;
}


.pin-info__view {
    padding: 40px;
    font-size: 13px;    
}

.pin-info__view img {
    width: 100%;
}

.pin-info__view--core {
    margin-bottom: 30px;
}
.pin-info__view--core li {
    margin-bottom: 10px;
}
.pin-info__view--review {
    display: flex;
    justify-content: space-between;
}
.pin-info__view--review>div {
    width: 47%;
    position: relative;
    height: 100%;
}

.pin-info__view--review>div strong {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.pin-info__view--review>div button {
    position: absolute;
    top: 0;
    right: 0;
}

.pin-info__view--review__photo--view {
    background: url(./assets/sample_cafe.jpg);
    width: 100%;
    height: 100px;  
    margin-top: 10px;  
    display: block;
}

.pin-info__view--review__comment--view {
    position: absolute;
    right: 0;
    bottom: 0;
}
.pin-info__view--review--comment--list {
    height: 100px;
    margin-top: 10px;
}

.pin-info__view--review--comment--list li {
    margin-bottom: 6px;
}