@import 'config';

.usermenu-wrap {
    width: $side-menu-size;
    position: absolute;
    top: 0;
    height: 100vh;
    transition: all 0.3s ease-in-out; 
    z-index: 999;
}
.usermenu {
    width: $side-menu-size - 25px;
    height: 100vh;
    background: #ddd;
    box-shadow: 2px 0px 20px 2px #aaa;
    overflow-y: scroll;
}
.usermenu__header {
    background: $color-main; 
    padding: $menu-padding; 
}
.usermenu__header h1 {
    color: #fff;
    font-size: 20px;
}

.usermenu__view {
    padding: $menu-padding; 
}

.usermenu__view h2 {
    font-weight: 600;
    margin-bottom: 20px;
}
.tabmenu-wrap {
    border-bottom: 1px #aaa solid;
}
.tabmenu__navi ul {
    overflow: hidden;
}
.tabmenu__navi li {
    width: 50%;
    float: left;
    text-align: center;
    border-right: 1px #aaa solid;
    border-top: 1px #aaa solid;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box; 
    background: $color-main;
}

.tabmenu__navi li:first-child {
    border-left: 1px #aaa solid;
}

.tabmenu__navi__button a {
    padding: 11px 0;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.tabmenu__navi .tabmenu__navi--active{
    background: #fff;
    border-bottom: none;
}
.tabmenu__navi .tabmenu__navi--active a{
    color: #555;
}

.tabmenu__view {
    min-height: 450px;
    padding: 30px;
    border-left: 1px #aaa solid;
    border-right: 1px #aaa solid;
    background: #fff;
    position: relative;
}

.tabmenu__view dl {
    margin-top: 25px;
}
.tabmenu__view dl:first-child {
    margin-top: 0;
}

.tabmenu__view dl dd {
    font-size: 12px;
    margin-top: 8px;
    margin-left: 20px;
}

.tabmenu__view dl dt {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.tabmenu__view__button__edit {
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
}

.tabmenu__view--image ul {
    overflow: hidden
}
.tabmenu__view--image li {
    width: 48%;
    float: left;
}
.tabmenu__view--image li:nth-child(odd){
    margin-right: 4%;
}

.tabmenu__view--image li img {
    width: 100%;
}

.tabmenu__view--image li:first-child {
}