@import 'config';

.usermenu-wrap {
    position: absolute;
    top: 0;
    width: $side-menu-size;
    height: 100%;
    transition: all 0.3s ease-in-out; 
    z-index: 999;
    box-sizing: border-box;
}
.usermenu {
    width: 100%;     
    height: 100%;
    position:relative;
    box-shadow: 2px 0px 20px 2px #aaa;
    box-sizing: border-box;
    background: #fff;
}
.usermenu__button {
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 60px;
    cursor: pointer;
}
.usermenu__header {
    background: $color-main; 
    padding: $menu-padding; 
}
.usermenu h1 {
    color: #fff;
    font-size: 20px;
}