@import 'config';

.usermenu-wrap {
    position: absolute;
    top: 0;
    width: $side-menu-size;
    height: 100%;
    transition: all 0.3s ease-in-out; 
    z-index: 999;
    box-sizing: border-box;
}
.usermenu {
    width: 100%;     
    height: 100%;
    position:relative;
    box-shadow: 2px 0px 20px 2px #aaa;
    box-sizing: border-box;
    background: #fff;
}
.usermenu__button {
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 60px;
    cursor: pointer;
}
.usermenu__header {
    background: $color-main; 
    padding: $menu-padding; 
}
.usermenu__header h1 {
    color: #fff;
    font-size: 20px;
}

.usermenu__view {
    padding: $menu-padding; 
}

.usermenu__view h2 {
    color: $color-main;
    font-weight: 600;
    margin-bottom: 20px;
}
.tabmenu-wrap {
}
.tabmenu__navi {
}
.tabmenu__navi ul {
    overflow: hidden;
}
.tabmenu__navi li {
    width: 50%;
    float: left;
    text-align: center;
}
.tabmenu__navi__button a {
    border: 2px $color-main solid;
    padding: 7px 0;
    color: $color-main;
    display: block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.tabmenu__navi--active a{
    background: $color-main;
    color: #fff;
}

.tabmenu__view {
    padding: 10px;
}

.tabmenu__view--map li {
    margin-top: 10px;
    font-size: 12px;
}